mat-card {
  margin-top: 40px;
  display: flex;
  width: 400px;
  height: 350px;
  justify-self: center;
}

mat-card-header {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 24px;
}

mat-form-field {
  width: 350px;
}

mat-card-actions {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

button {
  width: 150px;
  height: 40px;
  font-size: 16px;
  
}

mat-card-footer {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}