<div >
   
    <mat-card class="example-card" appearance="outlined" >
        <mat-card-header>
            <mat-card-title>User Profile</mat-card-title>
           
         </mat-card-header>
         <mat-card-content>
            <br>
            <label>Username:</label>
            <label>{{ this.userService.user?.username }}</label>
            <br>
            <label>Email:</label>
            <label>{{ this.userService.user?.email }}</label>
         </mat-card-content>
         

    </mat-card>

</div>
